@using Chirp.Core.Entities;
@model IEnumerable<Author>
@if (Model.Any())

{
    <h1>Authors</h1>
    <ul id="messagelist" class="cheeps-container">
    @foreach (var author in Model)

        {
            <li class="cheep-wrapper">
                @if (@author.UserName != null)
                {
                    <!--If the author has an avatar, display it instead of just a letter-->
                    @if (author.Avatar != null)
                    {
                        <img src="@author.Avatar" class="avatar" />
                    }
                    else
                    {
                        <a href="/@author.UserName" class="avatar">
                            @author.UserName.First()
                        </a>
                    }
                }
                <div class="cheep">
                    <div class="cheep-user">
                        <a class="cheep-author" href="/@author.UserName">@author.UserName</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}

else

{
    <em>No Authors found</em>
}
