@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    Layout = "Shared/_Layout";

    ViewData["Title"] = "Public Timeline";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="send-box">
    <div class="cheep-avatar">
        @User.Identity.Name?.First()
    </div>
    <form class="flex-grow-1" onsubmit="sendCheep()" method="dialog">
        <textarea id="cheepMessage" class="text-box cheep-input" name="message" placeholder="Whats on your mind?"
            autocomplete="off"></textarea>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Cheep</button>
        </div>
    </form>
</div>
}

<hr />

@await Html.PartialAsync("_CheepsPartial", Model.Cheeps)

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const cheepInputField = document.querySelector("#cheepMessage");
        ['keyup', 'change'].forEach((type) => {
            cheepInputField.addEventListener(type, (event) => {
                const inputFieldValue = document.getElementById("cheepMessage").value;
                if (inputFieldValue.length >= 160) {
                    document.getElementById("cheepMessage").style.color = "red";
                } else {
                    document.getElementById("cheepMessage").style.color = "black";
                }
            })
        })

        document.getElementById("cheepMessage").addEventListener('keydown', e => {
            if (e.key == "Enter") {
                e.preventDefault();
                sendCheep();
            }
        })
    })
</script>
