@page "/search"
@model Chirp.Web.Pages.SearchModel
@{
    Layout = "Shared/_Layout";

    ViewData["Title"] = "Search for " + "'" + @Model.SearchQuery + "'";
}
<div>
    @* If the search returns any cheeps or authors, display those.
    Otherwise display a message about nothing corresponding to the search *@
    @if (Model.Authors.Any() || Model.Cheeps.Any())

    {
        @await Html.PartialAsync("_AuthorPartial", Model.Authors)
        @await Html.PartialAsync("_CheepsPartial", Model.Cheeps)
    }

    else

    {
        <em>No Authors nor Cheeps found</em>
    }
</div>
