@page "/{author}"
@using Chirp.Web.Models
@model Chirp.Web.Pages.UserTimelineModel
@{
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
    ViewData["Title"] = @routeName + "'s Timeline";
}

@if (User.Identity != null && User.Identity.IsAuthenticated && routeName?.ToString() == User.Identity.Name)
{
    @await Html.PartialAsync("_SendCheepPartial", Model)
}

<div>
    @if (Model.Cheeps.Any())
    {
        @await Html.PartialAsync("_CheepsPartial", Model.Cheeps)

        @await Html.PartialAsync("_PaginationPartial", new Pagination()
{
    Current =
    Int32.Parse(Request.Query["page"].ToString()),
    Pages = (int)Math.Ceiling(Model.TotalCheeps / 32.0)
})
    }
    else
    {
        ViewData["Title"] = "The end of " + @routeName + "'s Timeline";
    }
</div>
