@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Public Timeline";
    Layout = "Shared/_Layout";
}

<link href="/css/pages/public.css" rel="stylesheet" type="text/css" />
<div>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps-container">
            @foreach (var cheep in Model.Cheeps)
            {
                <li class="cheep-wrapper">
                    <a href="/@cheep.Author" class="cheep-avatar">
                        @cheep.Author.First()
                    </a>
                    <div class="cheep">
                        <div class="cheep-user">
                            <a class="cheep-author" href="/@cheep.Author">@cheep.Author</a>
                            <small class="cheep-timestamp">&sdot; @cheep.Timestamp</small>
                        </div>
                        @cheep.Message
                    </div>
                </li>
            }
        </ul>
        ViewData["totalCheeps"] = Model.Cheeps.Count;
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
