.send-box {
    width: 27rem;
    display: flex;
}

.text-box {
    max-width: 32rem;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 20px 0px 20px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
}

.cheep-input {
    flex-grow: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cheep-submit {
    margin: 20px 0px 20px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
