* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    margin: 1.25rem 0 1.25rem 1.25rem !important;
    overflow-y: scroll;
}

:root {
    --text: #1d1d1d;
    --background: #f4f4f4;
    --border: #f1f1f1;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #868e96;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --blue-100: #e7f5ff;
    --blue-200: #d0ebff;
    --blue-300: #a5d8ff;
    --blue-400: #74c0fc;
    --blue-500: #339af0;
    --blue-600: #228be6;
    --blue-700: #1c7ed6;
    --blue-800: #1971c2;
    --blue-900: #1864ab;

    --indigo-100: #edf2ff;
    --indigo-200: #dbe4ff;
    --indigo-300: #bac8ff;
    --indigo-400: #91a7ff;
    --indigo-500: #748ffc;
    --indigo-600: #5c7cfa;
    --indigo-700: #4c6ef5;
    --indigo-800: #4263eb;
    --indigo-900: #3b5bdb;

    --red-100: #fff5f5;
    --red-200: #ffe3e3;
    --red-300: #ffc9c9;
    --red-400: #ffa8a8;
    --red-500: #ff8787;
    --red-600: #ff6b6b;
    --red-700: #fa5252;
    --red-800: #f03e3e;
    --red-900: #e03131;

    --orange-100: #fff4e6;
    --orange-200: #ffe8cc;
    --orange-300: #ffd8a8;
    --orange-400: #ffc078;
    --orange-500: #ffa94d;
    --orange-600: #ff922b;
    --orange-700: #fd7e14;
    --orange-800: #f76707;
    --orange-900: #e8590c;

    --green-100: #ebfbee;
    --green-200: #d3f9d8;
    --green-300: #b2f2bb;
    --green-400: #8ce99a;
    --green-500: #51cf66;
    --green-600: #40c057;
    --green-700: #37b24d;
    --green-800: #2f9e44;
    --green-900: #2b8a3e;
}

body {
    margin: unset;
}

header {
    display: flex;
    margin: auto;
    max-width: 72rem;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.root {
    margin: auto;
    max-width: 72rem;
}

.container {
    padding-top: 1rem;
}

.line {
    border-bottom: 1px solid var(--gray-300);
}

.logo {
    filter: brightness(125%);
    height: 64px;
    width: 64px;
    padding: 0.25em;
}

#navSearchForm {
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 32rem;
    width: 32rem;
}

.text-box-container {
    position: relative;
    width: 100%;
}
.text-box,
.text-box-cheep {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
    height: 100%;
    overflow: hidden;
    resize: none;
}
.text-box-cheep {
    padding: 10px 10px 20px 10px !important;
}
.text-box-limit {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: var(--gray-600);
    margin: 0px 10px 9px 4px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.2s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link > a {
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    background: #fff;
    transition: all 300ms;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/*

Cheeps

*/

.cheeps-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    text-decoration: none;
}

.cheep-wrapper,
.cheep-wrapper-mini {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    list-style-type: none;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--gray-200);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    text-decoration: none;
    color: var(--text);
    overflow: hidden;
}

.cheep {
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
}

.cheep-author {
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}

.cheep-user {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.cheep-author::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.2s ease-in-out;
}

.cheep-author:hover::after {
    width: 100%;
}

.cheep-timestamp-tooltip {
    position: relative;
    display: inline-block;
    bottom: 1px dotted var(--border);
    color: var(--gray-700);
    font-size: 13px;
    font-weight: 400;
    cursor: default;
}

.cheep-timestamp-tooltip > span {
    padding-left: 4px;
}

.cheep-timestamp-tooltip .cheep-timestamp {
    visibility: hidden;
    width: 95px;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: -45px;
    left: 0;
    background-color: var(--border);
    text-wrap: wrap;
    padding: 3px 4px 3px 4px;
    cursor: default;
}

.cheep-timestamp-tooltip .cheep-timestamp::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--border) transparent transparent transparent;
}

.cheep-timestamp-tooltip:hover .cheep-timestamp {
    visibility: visible;
    transition: visibility 0s ease-out 0.5s;
}

/*
mini version of cheep wrapper
*/
.navSearchOutputWrapper {
    position: absolute;
    background-color: white;
    display: none;
    border: 1px solid var(--gray-300);
    border-radius: 0.25em;
    width: inherit;
    max-height: 20rem;
    overflow-y: auto;
    z-index: 1;
}

#navSearchOutput {
    padding: 5px;
    margin: unset;
}

.cheep-wrapper-mini {
    padding: 10px 0 10px 10px;
    margin: unset;
    text-decoration: none;
}

.cheep-wrapper-mini:hover {
    background-color: var(--gray-200);
}

.cheep-wrapper-mini .cheep-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--gray-200);
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    align-content: center;
    text-decoration: none;
    color: var(--text);
    align-self: center;
}
.cheep-wrapper-mini .cheep {
    padding: unset;
}

.cheep-wrapper-mini .cheep {
    padding: unset;
}

.cheep-wrapper-mini .cheep-author {
    font-weight: 400;
}

.cheep-wrapper-mini .avatar {
    height: 20px;
    width: 20px;
}

/*

Interface

*/

.skip-btn {
    background-image: url(../images/arrow.png);
    background-size: contain;
    color: var(--text);
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid var(--gray-300);
    cursor: pointer;
}

.prev {
    transform: rotate(180deg);
}

.skip-btn:hover {
    background-color: var(--gray-200);
}

.send-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.cheep-input {
    flex-grow: 1;
    resize: none;
}

.cheep-submit {
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.search-highlight {
    background-color: var(--gray-200);
}

/*
// Scrollbar
// Styling from: https://dev.to/gaberomualdo/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg
*/
::-webkit-scrollbar {
    width: 1.25rem;
  }

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
