@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>

<body>
    <div class="header">
        <a href="/"><img class="logo" src="/images/icon1.png" alt="Icon1" /></a>
        <div class="nav-wrapper">
            <span class="nav-link"><a href="/">Public Timeline</a></span>
            <span class="nav-link"><a href="/cheep">Cheeps</a></span>
            <span class="nav-link"><a href="/Swagger">Swagger</a></span>
        </div>
        <div>
            <input id="searchUser" type="text" placeholder="Search for user" onkeypress="handleKeyPress(event)">
        </div>
    </div>
    <div class="line"></div>
    <div class=root>
        <div class=container>
            <h2>@ViewData["Title"]</h2>
            <h2>Found Cheeps: @ViewData["totalCheeps"]</h2>
            @RenderBody()
        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>

    <script>
        function handleKeyPress(event) {
            if (event.key === "Enter") {
                const searchText = document.getElementById('searchUser').value;
                window.location.href = `./${searchText}`;
            }
        }
    </script>
</body>
@await RenderSectionAsync("Scripts", required: false)

</html>
